kjobwidgets-5.20.0.tar.xz
kjobwidgets-5.21.0.tar.xz
kjobwidgets-5.23.0.tar.xz
kjobwidgets-5.24.0.tar.xz
kjobwidgets-5.25.0.tar.xz
kjobwidgets-5.26.0.tar.xz
kjobwidgets-5.27.0.tar.xz
kjobwidgets-5.28.0.tar.xz
