[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=proxy
X-KDE-System-Settings-Parent-Category=network
X-KDE-Weight=40
Icon=preferences-system-network

Name=Proxy
Name[af]=Volmag
Name[as]=প্ৰশমক
Name[be]=Проксі
Name[be@latin]=Proxy
Name[bg]=Прокси сървър
Name[bn]=প্রক্সি
Name[bn_IN]=প্রক্সি
Name[br]=Proksi
Name[ca]=Servidor intermediari
Name[cs]=Proxy
Name[csb]=Pòstrzédnik (Proxy)
Name[cy]=Dirprwy
Name[da]=Proxy
Name[de]=Proxy
Name[el]=Διαμεσολαβητής
Name[en_GB]=Proxy
Name[eo]=Prokuriloj
Name[es]=Proxy
Name[et]=Puhverserver
Name[eu]=Proxya
Name[fa]=پیﺵکﺍﺭ
Name[fi]=Välityspalvelin
Name[fr]=Serveur mandataire (proxy)
Name[fy]=Proxy
Name[ga]=Seachfhreastalaí
Name[gl]=Proxy
Name[gu]=પ્રોક્સી
Name[he]=פרוקסי
Name[hne]=प्राक्सी
Name[hr]=Proxy
Name[hsb]=Proxy
Name[hu]=Proxy
Name[ia]=Proxy
Name[id]=Proxy
Name[it]=Proxy
Name[ja]=プロキシ
Name[kk]=Прокси
Name[kn]=ಪ್ರಾತಿನಿಧಿಕ (ಪ್ರಾಕ್ಸಿ)
Name[ko]=프록시
Name[ku]=Cihgir
Name[lt]=Įgaliotasis serveris
Name[mai]=प्राक्सी
Name[mk]=Прокси
Name[ml]=പ്രോക്സി
Name[mr]=प्रॉक्सी
Name[ms]=Proksi
Name[nb]=Mellomtjener
Name[nds]=Proxy
Name[ne]=प्रोक्सी
Name[nl]=Proxy
Name[nn]=Mellomtenar
Name[oc]=Proxy
Name[or]=ପ୍ରକ୍ସି
Name[pa]=ਪਰਾਕਸੀ
Name[pl]=Pośrednik (Proxy)
Name[pt]='Proxy'
Name[pt_BR]=Proxy
Name[ro]=Proxy
Name[ru]=Прокси-сервер
Name[si]=ප්<200d>රොක්සි
Name[sk]=Proxy
Name[sl]=Posredniški strežnik
Name[sr]=Прокси
Name[sr@ijekavian]=Прокси
Name[sr@ijekavianlatin]=Proksi
Name[sr@latin]=Proksi
Name[sv]=Proxyservrar
Name[ta]=போலி
Name[te]=ప్రాక్సి
Name[tg]=Proxy
Name[th]=พร็อกซี
Name[tr]=Vekil sunucu
Name[uk]=Проксі
Name[uz]=Proksi
Name[uz@cyrillic]=Прокси
Name[vi]=Ủy nhiệm
Name[wa]=Procsi
Name[xh]=Umntu onegunya lokusebenzela omnye
Name[x-test]=xxProxyxx
Name[zh_CN]=代理
Name[zh_TW]=代理

