plasma-workspace-5.4.3.tar.xz
plasma-workspace-5.6.1.tar.xz
plasma-workspace-5.6.2.tar.xz
plasma-workspace-5.6.3.tar.xz
plasma-workspace-5.6.4.tar.xz
plasma-workspace-5.6.95.tar.xz
plasma-workspace-5.7.0.tar.xz
plasma-workspace-5.7.1.tar.xz
plasma-workspace-5.7.2.tar.xz
plasma-workspace-5.7.3.tar.xz
plasma-workspace-5.7.4.tar.xz
plasma-workspace-5.8.2.tar.xz
plasma-workspace-5.8.3.tar.xz
plasma-workspace-5.8.4.tar.xz
